<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="assets/images/logo_1.png" alt="Bootstrap" width="60" height="60">
      <span class="ms-3 text-primary">Visual Eye</span>
    </a>
  </div>
</nav>
<main>
  <div class="container-fluid p-3 row">
    <h3 class="m-3">About Visual Eye</h3>
    <p class="ms-3 pad-bottom-05">Visual Eye is a data analytic tool that helps users to visualize their dataset based on categorical and Continuous Data.</p>
    <p class="ms-3 pad-bottom-05">Upload your dataset below...</p>
  </div>
  <div class="container-fluid p-3 row">
    <div class="col-lg-3 col-md-3 col-xs-1 col-xl-3"></div>
    <div class="col-lg-6 col-md-6 col-xs-10 col-xl-6">
      <form class="pb-4" #fileUploadForm="ngForm" (ngSubmit)="onSubmit(fileUploadForm)">
        <div class="mb-3">
          <input class="form-control" ngModel type="file" name="file" id="formFile" placeholder="Upload CSV"
            accept=".csv" required="" (change)="uploadFile($event)">
        </div>
        <div class="mb-3">
          <input type="checkbox" ngModel class="form-check-input me-2" name="hasHeader" id="hasHeader">
          <label class="form-check-label" for="hasHeader">Contains header</label>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary" [disabled]="!fileUploadForm.valid">Process Dataset</button>
        </div>
      </form>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-1 col-xl-3"></div>
  </div>
  <div id="download-div" class="row container-fluid m-0" *ngIf="processedData !== undefined">
    <h2 class="mb-4 mt-3 text-center">Data Analysis Report <a href="#" id="download-button" class="btn btn-secondary ms-2" (click)="downloadPDF()"><i class="bi bi-download"></i></a> </h2>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" *ngFor="let card of cardsData">
      <div class="card m-4">
        <div class="card-body">
          <h5 class="card-title">{{ card.name }}</h5>
          <p class="card-text">{{ card.value }}</p>
        </div>
      </div>
    </div>
    <h3 class="mt-5 ps-5" *ngIf="categoricalProcessedData.length > 0">Categorical Data</h3>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4 mt-4" *ngFor="let val of categoricalProcessedData">
      <div class="card chart-card m-4">
        <app-dynamic-component-highchart class="highcharts-container" [chartData]="val.data"
          [chartTitle]="val.header" [dataType]="'Categorical'"></app-dynamic-component-highchart>
      </div>
    </div>
    <h3 class="mt-5 ps-5" *ngIf="numericalProcessedData.length > 0">Numerical Data</h3>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4 mt-4" *ngFor="let val of numericalProcessedData">
      <div class="card chart-card m-4">
        <app-dynamic-component-highchart class="highcharts-container" [chartData]="val.data"
          [chartTitle]="val.header" [dataType]="'Numerical'"></app-dynamic-component-highchart>
      </div>
    </div>
  </div>
</main>
