/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap");
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.min.css");
@import url( '/src/assets/variables.css' );

* {
    font-family: "Nunito", sans-serif;
}

.card {
    border: 1px solid var(--alternate-color-1) !important;
}

h3, p, .form-check-label{
    color: var(--tertiary-color);
}

.form-check-input:checked {
    background-color: var(--alternate-color-1) !important;
    border-color: var(--alternate-color-1) !important;
}

.spinner-border, .spinner-grow {
    animation: var(--bs-spinner-animation-speed) linear infinite var(--bs-spinner-animation-name), 
        changeColor 2s infinite !important;
}

@keyframes changeColor {
    0%   {color: var(--alternate-color-1);}
    25%  {color: var(--primary-color);}
    50%  {color: var(--tertiary-color);}
    75%  {color: var(--alternate-color-1);}
    100% {color: var(--secondary-color);}
  }